{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование семестра
        {% else %}
          Создание семестра
        {% endif %}
      </h1>

      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-row">
          {% form_control form.student_group "col" %}
          {% form_control form.year "col" %}
          {% form_control form.semester "col" %}
        </div>
        <div class="form-row">
          {% form_control form.begin_study "col" %}
          {% form_control form.end_study "col" %}
          {% form_control form.begin_exams "col" %}
          {% form_control form.end_exams "col" %}
        </div>

        <h3>Студенты</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>ФИО</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for s in students %}
            <tr>
              <td><a href="{% url 'user:edit' s.id %}">{{ s }}</a></td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'semester:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function () {
        console.log('Hello');
        history.back();
      });
    });
  </script>
{% endblock %}