{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Семестры</h1>
      <ul>
        {% for semester in semester_list %}
          <li><a href="{% url 'semester:edit' semester.id %}">{{ semester }}</a></li>
        {% endfor %}
      </ul>

      <a href="{% url 'semester:create' %}" class="btn btn-primary" role="button">Создать</a>
    </div>
  </div>
{% endblock %}