{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование пользователя
        {% else %}
          Создание пользователя
        {% endif %}
      </h1>

      <h3>{{ form.instance }}</h3>
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-row">
          {% form_control form.username "col" %}
          {% form_control form.email "col" %}
          {% form_control form.gender "col" %}
        </div>
        <div class="form-row">
          {% form_control form.last_name "col" %}
          {% form_control form.first_name "col" %}
          {% form_control form.second_name "col" %}
        </div>
        <div class="form-row">
          {% form_check form.is_active "col" %}
          {% form_check form.is_staff "col" %}
          {% form_check form.is_superuser "col" %}
        </div>

        <h3>Статус студента</h3>
        <table class="table table-hover" id="student-status">
          <thead>
          <tr>
            <th style="width:15%">Дата</th>
            <th style="width:20%">Статус</th>
            <th style="width:20%">Уч. группа</th>
            <th style="width:15%">№ зачётки</th>
            <th style="width:25%">Примечение</th>
            <th style="width:5%"><a href="#" class="insert-row"><i class="fas fa-plus"></i></a></th>
          </tr>
          </thead>
          <tbody>
          {% for cur_form in formset.forms %}
            <tr{% if not cur_form.instance.pk %} id="extra-row" class="d-none"{% endif %}>
              <td>{{ cur_form.moment|form_class:"form-control" }}</td>
              <td>{{ cur_form.status|form_class:"form-control" }}</td>
              <td>{{ cur_form.student_group|form_class:"form-control" }}</td>
              <td>{{ cur_form.id_number|form_class:"form-control" }}</td>
              <td>{{ cur_form.comment|form_class:"form-control" }}</td>
              <td>
                <input type="hidden" name="{{ cur_form.id.html_name }}"{% if cur_form.instance.pk %} value="{{ cur_form.id.value }}{% endif %}">
                <input type="hidden" name="{{ cur_form.student.html_name }}"{% if cur_form.instance.pk %}  value="{{ cur_form.student.value }}{% endif %}">
                <input type="hidden" name="{{ cur_form.DELETE.html_name }}">
                <a href="#" class="delete-row"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {{ formset.management_form }}

        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'user:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function() {
        history.back();
      });

      $('.insert-row').on('click', function() {
        const $extraRow = $('#extra-row');
        const $newRow = $('<tr></tr>');
        $newRow.html($extraRow.html());
        $newRow.insertBefore($extraRow);
      });

      $('body').on('click', '.delete-row', function() {
        const $row = $(this).parents('tr');
        $row.addClass('d-none');
        const $delete = $row.find('input:last');
        $delete.val('on');
      });
    });
  </script>
{% endblock %}