{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Пользователи</h1>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Логин</th>
          <th>ФИО</th>
          <th>Преподаватель</th>
          <th>Администратор</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
          <tr>
            <td><a href="{% url 'user:edit' user.id %}">{{ user.username }}</a></td>
            <td><a
              href="{% url 'user:edit' user.id %}">{{ user.last_name }} {{ user.first_name }} {{ user.second_name }}</a>
            </td>
            <td>{% if user.is_staff %}<i class="fas fa-check"></i>{% endif %}</td>
            <td>{% if user.is_superuser %}<i class="fas fa-check"></i>{% endif %}</td>
            <td>
              <a href="{% url 'user:set_password' user.id %}"><i class="fas fa-key"></i></a>
            </td>
            <td>
              <a href="{% url 'user:delete' user.id %}"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <a href="{% url 'user:create' %}" class="btn btn-primary" role="button">Создать</a>
    </div>
  </div>
{% endblock %}