{% extends 'base/page.html' %}
{% block body %}
  <div class="row">
    <div class="col">
      <h1>Вы вышли из системы</h1>
      <p><a href="{% url 'user:login' %}">Войти снова</a></p>
    </div>
  </div>
{% endblock %}