{% extends "base/page.html" %}
{% load custom_tags %}
{% block body %}
  <div class="row">
    <div class="col-4">
      <h1>{% block title %}Авторизация{% endblock %}</h1>
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {% form_control form.username %}
        {% form_control form.password %}
        <input type="submit" name="submit" class="btn btn-primary" value="Войти">
      </form>
    </div>
  </div>
{% endblock %}