{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Сброс пароля пользователя</h1>
      <h3>{{ form.user }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
        {% form_control form.new_password1 "col" %}
        {% form_control form.new_password2 "col" %}
        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function (event) {
        history.back();
      });
    });
  </script>
{% endblock %}