{% extends 'base/menu.html' %}
{% load static %}
{% block title %}{{ test.code }} {{ test.name }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>{{ test.name }}</h1>
      <div id="input" class="d-none"></div>
      <div id="output"></div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
{#  <script src="{% static 'ruler/js/marked.min.js' %}"></script>#}
  <script>
    $(function () {
      {#var input = $('#input').html();#}
      {#$('#output').html(marked(input));#}
    });
  </script>
{% endblock %}