{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Удаление статуса пользователя</h1>
      <p>
        Подтвердите удаление статуса пользователя:
      </p>
      <p>
        {{ object.moment|date:"Y.m.d" }}
        {{ object.student }}
        {{ object.get_status_display }}
        {% if object.status == 'E' %}
          в {{ object.student_group }}
        {% endif %}
      </p>
      <form method="post">
        {% csrf_token %}
        <input type="submit" name="submit" class="btn btn-danger" value="Удалить">
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function (event) {
        history.back();
      });
    });
  </script>
{% endblock %}