{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование статуса студента
        {% else %}
          Создание статуса студента
        {% endif %}
      </h1>
      <h3>{{ student }}</h3>
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-row">
          {% form_control form.moment "col" %}
          {% form_control form.status "col" %}
          {% form_control form.student_group "col" %}
          {% form_control form.id_number "col" %}
        </div>
        <div class="form-row">
          {% form_control form.comment "col" %}
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'student_status:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function () {
        history.back();
      });
    });
  </script>
{% endblock %}