<div class="form-group{% if col %} {{ col }}{% endif %}">
  <div class="form-check">
    {{ field }}
    <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if help %}
      <small class="form-text text-muted">
        {{ help }}
      </small>
    {% endif %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  </div>
</div>