<div class="form-group{% if col %} {{ col }}{% endif %}">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {{ field }}
  {% if help %}
    <small class="form-text text-muted">
      {{ help }}
    </small>
  {% endif %}
  {% for error in field.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
  {% endfor %}
</div>