{% extends 'base/page.html' %}
{% block body %}
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'base:index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Студент
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'course:student_list' %}">Изучаемые дисциплины</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Преподаватель
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'course:teacher_list' %}">Преподаваемые дисциплины</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Администратор
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'student_group:list' %}">Учебные группы</a>
              <a class="dropdown-item" href="{% url 'semester:list' %}">Семестры</a>
              <a class="dropdown-item" href="{% url 'course:admin_list' %}">Дисциплины</a>
              <a class="dropdown-item" href="{% url 'user:list' %}">Пользователи</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ user }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'user:change_password' %}">Смена пароля</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'user:logout' %}">Выход</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {% block content %}{% endblock %}
{% endblock %}