{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Добро пожаловать!{% endblock %}</title>
  <link rel="icon" href="{% static 'base/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'base/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
  {% block body %}{% endblock %}
  <script src="{% static 'base/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'base/js/font-awesome/all.min.js' %}"></script>
  {% block scripts %}{% endblock %}
</div>
</body>
</html>