{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование учебной группы
        {% else %}
          Создание учебной группы
        {% endif %}
      </h1>

      <h3>{{ form.instance }}</h3>
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-row">
          {% form_control form.name "col" %}
          {% form_control form.year "col" %}
          {% form_control form.degree "col" %}
          {% form_control form.form "col" %}
        </div>
        <div class="form-row">
          {% form_check form.is_active "col" %}
        </div>

        <h3>Семестры</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Семестр</th>
            <th>Теоретическое обучение</th>
            <th>Сессия</th>
            <th><a href="{% url 'semester:create' %}"><i class="fas fa-plus"></i></a></th>
          </tr>
          </thead>
          <tbody>
          {% for s in semesters %}
            <tr>
              <td><a href="{% url 'semester:edit' s.id %}">{{ s.get_year }}, {{ s.get_semester_display }}</a></td>
              <td>{{ s.begin_study|date:"Y.m.d" }} – {{ s.end_study|date:"Y.m.d" }}</td>
              <td>{{ s.begin_exams|date:"Y.m.d" }} – {{ s.end_exams|date:"Y.m.d" }}</td>
              <td><a href="{% url 'semester:delete' s.id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'student_group:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function () {
        history.back();
      });
    });
  </script>
{% endblock %}