{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      {% if current_list %}
        <h1>Текущие учебные группы</h1>
        {% regroup current_list by get_degree_display as grouped_list1 %}
        {% for group1 in grouped_list1 %}
          <h3>{{ group1.grouper|capfirst }}</h3>
          {% regroup group1.list by year as grouped_list2 %}
          {% for group2 in grouped_list2 %}
            <h5>Год поступления: {{ group2.grouper }}</h5>
            <ul>
              {% for sg in group2.list %}
                <li><a href="{% url 'student_group:edit' sg.id %}">{{ sg.name }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        {% endfor %}
      {% endif %}

      {% if archive_list %}
        <h1>Архивные учебные группы</h1>
        {% regroup archive_list by get_degree_display as grouped_list1 %}
        {% for group1 in grouped_list1 %}
          <h3>{{ group1.grouper|capfirst }}</h3>
          {% regroup group1.list by year as grouped_list2 %}
          {% for group2 in grouped_list2 %}
            <h5>Год поступления: {{ group2.grouper }}</h5>
            <ul>
              {% for sg in group2.list %}
                <li><a href="{% url 'student_group:edit' sg.id %}">{{ sg.name }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <a href="{% url 'student_group:create' %}" class="btn btn-primary" role="button">Создать</a>
    </div>
  </div>
{% endblock %}