{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>{% block title %}{{ course.name }}{% endblock %}</h1>
      <ul>
        {% for e in elements %}
          {% if e.kind == 'topic' %}
            <li><a href="{% url 'course_topic:page' e.id %}">{{ e.code }} {{ e.name }}</a></li>
          {% elif e.kind == 'test' %}
            <li><a href="{% url 'course_test:test_page' e.id %}">{{ e.code }} {{ e.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}