{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Изучаемые дисциплины</h1>
      <ul>
        {% for c in studied_courses %}
          <li><a href="{% url 'course:student_page' c.id %}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}