{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>{{ course.name }}</h1>

      <h3>Элементы курса</h3>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>№ п/п</th>
          <th>Тип</th>
          <th>Наименование</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for e in elements %}
          {% if e|get_class == 'Topic' %}
            <tr>
              <td><a href="{% url 'course_topic:edit' e.id %}">{{ e.order }}</a></td>
              <td><a href="{% url 'course_topic:edit' e.id %}">Тема</a></td>
              <td><a href="{% url 'course_topic:edit' e.id %}">{{ e.name }}</a></td>
              <td><a href="{% url 'course_topic:delete' e.id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          {% elif e|get_class == 'File' %}
            <tr>
              <td><a href="{% url 'course_file:edit' e.id %}">{{ e.order }}</a></td>
              <td><a href="{% url 'course_file:edit' e.id %}">Файл</a></td>
              <td><a href="{% url 'course_file:edit' e.id %}">{{ e.name }}</a></td>
              <td><a href="{% url 'course_file:delete' e.id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>

      <a class="btn btn-primary" href="{% url 'course_topic:create' course.id %}">Создать тему</a>
      <a class="btn btn-primary" href="{% url 'course_file:create' course.id %}">Создать файл</a>

    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function () {
        history.back();
      });
    });
  </script>
{% endblock %}