{% extends 'base/menu.html' %}
{% load custom_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Дисциплина {{ form.instance }}
        {% else %}
          Создание дисциплины
        {% endif %}
      </h1>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% form_control form.name %}
        {% form_control form.semester %}
        {% form_control form.teacher %}
        {% form_control form.course_type %}
        <div class="form-row">
          {% form_control form.lecture_hours "col" %}
          {% form_control form.lab_work_hours "col" %}
        </div>
        <div class="form-row">
          {% form_control form.practice_hours "col" %}
          {% form_control form.student_hours "col" %}
        </div>
        <div class="form-row">
          {% form_control form.control_hours "col" %}
          {% form_control form.total_hours "col" %}
        </div>
      </div>
      <div class="col">
        {{ form.students|hidden }}
        <label>Студенты изучающие дисциплину</label>
        <div class="list-group" id="available_students">
          {% include 'course/students.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'course:admin_delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </div>
    </div>
  </form>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      // Пересчет суммы часов
      function calculateTotalHours() {
        $('#id_total_hours').val(
          parseInt($('#id_lecture_hours').val()) +
          parseInt($('#id_lab_work_hours').val()) +
          parseInt($('#id_practice_hours').val()) +
          parseInt($('#id_student_hours').val()) +
          parseInt($('#id_control_hours').val())
        );
      }

      // Вернуться назад, при нажатии кнопки назад
      $('#back').on('click', function () {
        history.back();
      });

      // При изменении часов нужно вызвать пересчет суммы часов
      $('#id_total_hours').attr('readonly', true);
      $('#id_lecture_hours').on('input', calculateTotalHours);
      $('#id_lab_work_hours').on('input', calculateTotalHours);
      $('#id_practice_hours').on('input', calculateTotalHours);
      $('#id_student_hours').on('input', calculateTotalHours);
      $('#id_control_hours').on('input', calculateTotalHours);

      // При выборе студента нужно выделить его в списке и убедиться, что данные будут сохранены
      $('a.list-group-item.list-group-item-action').on('click', function () {
        $(this).toggleClass('active');
        let active = $(this).hasClass('active');
        let studentId = $(this).data('id');
        $('select#id_students option[value="' + studentId + '"]').prop('selected', active);
      });

      // Загрузить список доступных студентов
      function initiateLoadAvailableStudents() {
        let course = {% if form.instance.pk %}{{ form.instance.id }}{% else %}''{% endif %};
        let semester = $(this).val();
        let $slot = $('#available_students');
        $slot.html(`
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
          </div>
        `);
        let url = '{% url 'course:admin_student' %}';
        if (semester !== '') {
          url = url + semester + '/';
          if (course !== '') {
            url = url + course + '/';
          }
          $slot.load(url);
        } else {
          $slot.html('');
        }
      }

      // При выборе семестра нужно заново загрузить список доступных студентов
      $('select#id_semester').on('change', initiateLoadAvailableStudents);
    });
  </script>
{% endblock %}