{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Дисциплины</h1>
      {% regroup course_list by semester as semester_list %}
      {% for semester in semester_list %}
        <h3>{{ semester.grouper }}</h3>
        <ul>
          {% for course in semester.list %}
            <li><a href="{% url 'course:admin_edit' course.id %}">{{ course }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
      <a href="{% url 'course:admin_create' %}" class="btn btn-primary" role="button">Создать</a>
    </div>
  </div>
{% endblock %}