{% extends 'base/menu.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Преподаваемые дисциплины</h1>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Дисциплина</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for c in teaching_load %}
          <tr>
            <td><a href="{% url 'course:teacher_page' c.id %}">{{ c.name }}</a></td>
            <td></td>
            <td><a href="#"><i class="fas fa-save"></i></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}