{% extends 'base/menu.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}{{ file.code }} {{ file.name }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование файла
        {% else %}
          Создание файла
        {% endif %}
      </h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {{ form.course|hidden }}
        <div class="form-row">
          {% form_control form.order "col-2" %}
          {% form_control form.name "col-10" %}
        </div>
        <div class="custom-file mb-3">
          <input type="file" class="custom-file-input" id="id_file" name="file" required>
          <label class="custom-file-label" for="id_file">Выберите файл...</label>
          {% for e in form.file.errors %}
            <div class="invalid-feedback">{{ e }}</div>
          {% endfor %}
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'course_file:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(function () {
      $('#back').on('click', function () {
        history.back();
      });
    });
  </script>
{% endblock %}