{% extends 'base/menu.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}{{ topic.code }} {{ topic.name }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>
        {% if form.instance.pk %}
          Редактирование темы
        {% else %}
          Создание темы
        {% endif %}
      </h1>
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {{ form.course|hidden }}
        <div class="form-row">
          {% form_control form.order "col-2" %}
          {% form_control form.name "col-10" %}
        </div>
        {{ form.text|hidden }}
        <div class="form-group">
          <label for="editor">Текст</label>
          <div id="editor">{{ form.instance.text }}</div>
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
        {% if form.instance.pk %}
          <a href="{% url 'course_topic:delete' form.instance.id %}" class="btn btn-danger" role="button">Удалить</a>
        {% endif %}
        <button class="btn btn-link" type="button" id="back">Отменить</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'ruler/js/ace-min/ace.js' %}"></script>
  <script>
    $(function () {
      $('#back').on('click', function () {
        history.back();
      });

      let editor = ace.edit('editor', {
        fontSize: 14,
        maxLines: 10000,
        minLines: 10,
        mode: 'ace/mode/markdown',
        theme: 'ace/theme/chrome',
        showPrintMargin: false
      });
      editor.setStyle('form-control');
      editor.session.on('change', function (event) {
        $('#id_text').html(editor.getValue());
      });
    });
  </script>
{% endblock %}