{% extends 'base/menu.html' %}
{% load static %}
{% block title %}{{ topic.code }} {{ topic.name }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      {{ markdown|safe }}
    </div>
  </div>
{% endblock %}